body{
	background-color: white;
}
h2{
	text-align: center;
}
.col-sm-2{
	border-right: 3px solid;
	border-right-color: #000;
	height: 100vh;

}
.col-sm-10{
	padding-left: 40px;
	padding-top: 20px;
}
.col-sm-2{
    background-color: #514D51;
}

img{
padding-left: 100px;
margin-top: -70px;
}

hr {
  border-top: 2px double #ccc;
}



.text-custom {
  color: #FFA500;
}


