{% extends "base_generic.html" %}
{% block content %}
  <h1>Профиль автора {{ user.username }}</h1>
<br>
<br>
<br>
<br>
{% if user.profile.avatar %}
<div class="d-flex align-items-center col-md-6 offset-md-2">
  <div class="position-relative">
    <img src="{{ user.profile.avatar.url }}" alt="Avatar" style="object-fit: cover; height: 200px; width: 200px; border: 2px solid black; padding: 0; border-radius: 50%">
    <div class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light text-dark" style="font-size: 18px; padding: 10px; ">
      {% if user.profile.status %}
        {{ user.profile.status }}
      {% else %}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      {% endif %}
    </div>
  </div>
</div>
{% endif %}



<br>
<div class="container ">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card border-secondary" style="background-color: #514D51;">
        <div class="card-body">
          <h4 class="card-title font-weight-bold text-white">Об авторе {{ user.username }}</h4>
          <div class="form-group row">
            <label class="col-md-4 text-white font-weight-bold col-form-label">Имя:</label>
            <div class="col-md-8">
              <div class="border rounded p-2" style="background-color: white;">{{ user.profile.name }}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 text-white font-weight-bold col-form-label">Дата рождения:</label>
            <div class="col-md-8">
              <div class="border rounded p-2" style="background-color: white;">{{ user.profile.date_of_birth }}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 text-white font-weight-bold col-form-label">Пол:</label>
            <div class="col-md-8">
              <div class="border rounded p-2" style="background-color: white;">{{ user.profile.get_gender_display }}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 text-white font-weight-bold col-form-label">Местоположение:</label>
            <div class="col-md-8">
              <div class="border rounded p-2" style="background-color: white;">{{ user.profile.location }}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 text-white font-weight-bold col-form-label">Контактная информация:</label>
            <div class="col-md-8">
              <div class="border rounded p-2" style="background-color: white;">{{ user.profile.contact_info }}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 text-white font-weight-bold col-form-label">Интересы:</label>
            <div class="col-md-8">
              <div class="border rounded p-2" style="background-color: white;">{{ user.profile.interests }}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 text-white font-weight-bold col-form-label">Навыки:</label>
            <div class="col-md-8">
              <div class="border rounded p-2" style="background-color: white;">{{ user.profile.skills }}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 text-white font-weight-bold col-form-label">О себе:</label>
            <div class="col-md-8">
              <div class="border rounded p-2" style="background-color: white;">{{ user.profile.about_me }}</div>
            </div>
          </div>
           {% if user.is_authenticated and request.user == user %}
          <p style="display: inline;"><a href="{% url 'profile' pk=request.user.pk %}" class="btn btn-info">Редактировать</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div style="display: flex; height: 300px;">
  <div style="width: 300px; height: 300px;">
    <canvas id="myChart"></canvas>
  </div>

  {% if content_count %}
    <div style="flex: 1; height: 100%;">
      <canvas id="myChartt" style="height: 100%;"></canvas>
    </div>
  {% else %}
    <div style="flex: 1; height: 100%;">
      <p style="height: 100%;">No content yet</p>
    </div>
  {% endif %}
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Мужской', 'Женский'],
      datasets: [{
        label: '# of Likes',
        data: [{{ male_likes }}, {{ female_likes }}],
        backgroundColor: [
          'rgb(54, 162, 235)',
          'rgb(255, 99, 132)',
        ],
        hoverOffset: 4
      }]
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: 'Пол лайкнувших людей'
        }
      }
    }
  });

  {% if content_count %}
  const ctx2 = document.getElementById('myChartt');

  new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: [
        {% for content in user.content_set.all %}
          "{{ content.name }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
      ],
      datasets: [{
        label: '# of Likes',
        data: [
          {% for content in user.content_set.all %}
            {{ content.like_set.count }}{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
          backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)'
          ],
      borderColor: [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)'
          ],
      borderWidth: 1
      }]
    },
    options: {
    scales: {
      y: {
        ticks: {
          precision: 0,
        },
      },
    },
    plugins: {
      legend: {
    display: false
  },
      title: {
        display: true,
        text: 'Оценки по произведениям'
      }
    }
  }
  });
{% endif %}
</script>




<br>
<div style="margin-left:20px;margin-top:20px">
    <h4>Произведения автора</h4>

    {% for copy in user.content_set.all %}
          <hr>
        <samp><a href="{% url 'contentdetail' pk=copy.pk %}" > {{ copy.name }}</a></samp>
          <br>
          <samp>Жанр: <samp class="text-custom" title="{{ copy.ganre.description }}">{{ copy.ganre }}</samp></samp>
          <p><samp>Описание: </samp>{{copy.description}}</p>
          <hr>
    {% endfor %}
  </div>



{% endblock %}
