{% extends "base_generic.html" %}

{% block content %}
  <h1>Название: {{ content.name }}</h1>
    <br>
  <p><strong>Автор:</strong> <a href="{% url 'writer-user-detail' pk=content.author.pk %}">{{ content.author }}</a></p> <!-- author detail link not yet defined -->
 <p><strong>Жанр:</strong> <samp class="text-custom" title="{{ content.ganre.description }}">{{ content.ganre }}</samp></p>
  <p><strong>Описание:</strong> {{ content.description }}</p>
    <br>
   <p><strong>Содержание:</strong> {{ content.data }}</p>


    <br>
    <br>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Комментарии</h4>

    {% for copy in content.comment_set.all %}
    <hr>
    <a href="{% url 'writer-user-detail' pk=content.author.pk %}"><p>{{copy.commentator}}</p></a>
    <p><strong>Комментарий:</strong> {{copy.text}}</p>
    <hr>
    {% endfor %}
  </div>
{% endblock %}
