{% extends "base_generic.html" %}

{% block content %}
    <h1>Список произведений</h1>

    {% if content_list %}
    <ul class="list-unstyled">

      {% for content in content_list %}
      <li>
          <hr>
        <samp>Название: <a href="{% url 'contentdetail' pk=content.pk %}" > {{ content.name }}</a></samp>
          <br>
          <samp>Автор: <a href="{% url 'writer-user-detail' pk=content.author.pk %}">{{content.author}}</a></samp>
          <br>
          <samp>Жанр: <samp class="text-custom" title="{{ content.ganre.description }}">{{ content.ganre }}</samp></samp>
          <p><samp>Описание: </samp>{{content.description}}</p>
          <hr>
      </li>
      {% endfor %}


    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}