{% extends "base_generic.html" %}

{% block content %}

    {% if user.is_authenticated %}
    {% if content.author == user %}
   <p style="display: inline;"><a href="{% url 'content_update' pk=content.id %}" class="btn btn-primary">Редактировать</a></p>
    <p style="display: inline;"><a href="{% url 'content_delete' pk=content.id %}" class="btn btn-danger">Удалить</a></p>
    <hr>
    {% endif %}
    {% endif %}

<div style="display: flex; align-items: center;">
   <h1 >{{ content.name }} </h1>
   <p class="badge badge-lg badge-secondary" style="margin-left: 10px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z"/>
</svg> {{ likes_count }}</p>
    <p class="badge badge-lg badge-secondary" style="margin-left: 10px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
</svg> {{ views_count }}</p>
</div>

    <br>
  <p><strong>Автор:</strong> <a href="{% url 'writer-user-detail' pk=content.author.pk %}">{{ content.author }}</a></p> <!-- author detail link not yet defined -->
 <p><strong>Жанр:</strong> <samp class="text-custom" title="{{ content.ganre.description }}">{{ content.ganre }}</samp></p>
  <p style="word-wrap: break-word;"><strong>Описание:</strong> {{ content.description }}</p>
    <br>
   <p style="word-wrap: break-word;"><strong>Содержание:</strong> {{ content.data }}</p>
    <br>
    {% if user.is_authenticated %}
    {% if content.author != user %}
    <form action="{% url 'like_content' pk=content.pk %}" method="POST">
    {% csrf_token %}

        <button type="submit" class="btn {% if liked %}btn-primary{% else %}btn-secondary{% endif %}">
        {% if liked %}
            <i class="fas fa-heart"></i> (•ᴗ•)♡︎
        {% else %}
            <i class="far fa-heart"></i> (•ᴗ•)︎
        {% endif %}
        </button>
    </form>
    {% endif %}
    {% endif %}

      {% include "writer/comment_form.html" with form=form %}
  <div style="margin-left:20px;margin-top:20px">
      <br>
    <h4>Комментарии</h4>

    {% for copy in content.comment_set.all %}
    <hr>
    <a href="{% url 'writer-user-detail' pk=content.author.pk %}"><p>{{copy.commentator}}</p></a>
    <p style="word-wrap: break-word;"><strong>Комментарий:</strong> {{copy.text}}</p>
    <p style="word-wrap: break-word;"><strong>Дата создания:</strong> {{copy.created_at}}</p>

     {% if user.is_authenticated and copy.commentator == user %}
    <form method="post" action="{% url 'delete_comment' pk=copy.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary" onclick="return confirm('Вы действительно хотите удалить этот комментарий?')">Удалить комментарий</button>
    </form>
      {% endif %}
      <hr>
    {% endfor %}

  </div>

<br>
<br>
<br>
<form method="post">
    {% csrf_token %}
    {{ similar_form }}
    <button type="submit" class="btn btn-secondary">Добавить</button>
</form>

<h4>Похожие произведения:</h4>
<ul>
  {% for similar_content in content.similar_content.all %}
    <li>{{ similar_content.name }}</li>
  {% endfor %}
</ul>

{% endblock %}
