{% extends "base_generic.html" %}

{% block content %}

    {% if user.is_authenticated %}
    {% if content.author == user %}
   <p style="display: inline;"><a href="{% url 'content_update' pk=content.id %}" class="btn btn-primary">Редактировать</a></p>
    <p style="display: inline;"><a href="{% url 'content_delete' pk=content.id %}" class="btn btn-danger">Удалить</a></p>
    <hr>
    {% endif %}
    {% endif %}

<div style="display: flex; align-items: center;">
   <h1 >{{ content.name }} </h1>
   <p class="badge badge-lg badge-secondary" style="margin-left: 10px;"> &#x2665; {{ likes_count }}</p>
</div>

    <br>
  <p><strong>Автор:</strong> <a href="{% url 'writer-user-detail' pk=content.author.pk %}">{{ content.author }}</a></p> <!-- author detail link not yet defined -->
 <p><strong>Жанр:</strong> <samp class="text-custom" title="{{ content.ganre.description }}">{{ content.ganre }}</samp></p>
  <p style="word-wrap: break-word;"><strong>Описание:</strong> {{ content.description }}</p>
    <br>
   <p style="word-wrap: break-word;"><strong>Содержание:</strong> {{ content.data }}</p>
    <br>
    {% if user.is_authenticated %}
    {% if content.author != user %}
    <form action="{% url 'like_content' pk=content.pk %}" method="POST">
    {% csrf_token %}

        <button type="submit" class="btn {% if liked %}btn-primary{% else %}btn-secondary{% endif %}">
        {% if liked %}
            <i class="fas fa-heart"></i> (•ᴗ•)♡︎
        {% else %}
            <i class="far fa-heart"></i> (•ᴗ•)︎
        {% endif %}
        </button>
    </form>
    {% endif %}
    {% endif %}

      {% include "writer/comment_form.html" with form=form %}
  <div style="margin-left:20px;margin-top:20px">
      <br>
    <h4>Комментарии</h4>

    {% for copy in content.comment_set.all %}
    <hr>
    <a href="{% url 'writer-user-detail' pk=content.author.pk %}"><p>{{copy.commentator}}</p></a>
    <p style="word-wrap: break-word;"><strong>Комментарий:</strong> {{copy.text}}</p>
    <p style="word-wrap: break-word;"><strong>Дата создания:</strong> {{copy.created_at}}</p>

     {% if user.is_authenticated and copy.commentator == user %}
    <form method="post" action="{% url 'delete_comment' pk=copy.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary" onclick="return confirm('Вы действительно хотите удалить этот комментарий?')">Удалить комментарий</button>
    </form>
      {% endif %}
      <hr>
    {% endfor %}

  </div>

{% endblock %}
